<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Crown Source</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css"
    />
    <link rel="stylesheet" href="/styles/auth/login.css" />
  </head>
  <body>
    <div class="login-container">
      <div class="login-box">
        <div class="logo">
          <img src="/images/logo.png" alt="Crown Source Logo" />
        </div>
        <h1>WELCOME TO <br />CROWN SOURCING <span>!!</span></h1>
        <p>WE REQUESTED YOU TO PROVE YOUR IDENTITY FIRST</p>
        <form action="/auth/login" method="post">
          <input
            type="text"
            name="username"
            placeholder="Enter Username"
            maxlength="64"
            minlength="4"
            required
          />
          <div class="password-input">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Enter Password"
              required
              maxlength="32"
              minlength="8"
            />
              <i id="password-icon" class="ri-eye-line toggle-password" onclick="togglePassword('password')"></i>
          </div>
          <button type="submit">Log In</button>
        </form>
        <a href="/request-account">Request Account ?</a>
      </div>
    </div>
    <script src="/javascript/password.js"></script>
  </body>
</html>
