<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Account</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "poppins";
    }

    body {
        background: #121212;
        color: white;
    }

    .request-box {
        width: 95vw;
        height: 80vh;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .request-box h2 {
        font-weight: 500;
        font-size: 1.6rem;
        text-transform: uppercase;
    }

    .request-box a {
        color: #d4af37;
        text-decoration: none;
        font-size: 1.3rem;
        text-transform: uppercase;
    }
    
    .login{
        margin-top: 25px;
        background: #d4af37;
        color: black !important;
        padding: 5px;
        border-radius: 5px;
        font-size: 1.4rem;
    }
</style>

<body>
    <div class="request-box">
            <h2>Please Click the link below to request your account</h2>
            <a href="https://wa.me/message/6Q6IKOWMKPX7L1">https://wa.me/message/6Q6IKOWMKPX7L1</a>
            <a class="login" href="/auth/login">Back To login</a>
    </div>
</body>

</html>