<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit User - Crown Source</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css"
    />
    <link rel="stylesheet" href="/styles/auth/register.css" />
  </head>
  <body>
    <div class="register-container">
      <div class="register-box">
        <div class="logo">
          <img src="/images/logo.png" alt="Crown Source Logo" />
        </div>
        <h1>Update The user</h1>
        <form action="/admin/user/edit/<%= user._id %>" method="post">
          <input
            type="text"
            name="username"
            placeholder="Enter Username"
            required
            maxlength="64"
            minlength="4"
            value="<%= user.username %>"
          />
          <div class="Role">
            <label for="Role">Role : </label>
            <select name="Role" id="Role">
              <% if (user.role === "Admin") { %>
              <option value="">Select A Role</option>
              <option selected value="Admin">Admin</option>
              <option value="User">User</option>
              <% } else { %>
              <option value="">Select A Role</option>
              <option value="Admin">Admin</option>
              <option selected="User">User</option>
              <% } %>
            </select>
          </div>
          <button type="submit">Update User</button>
        </form>
      </div>
    </div>
  </body>
</html>
