<nav>
  <ul>
    <li>
      <a href=""><i class="ri-user-line"></i></a>
    </li>
    <li>
      <a href=""><i class="ri-box-1-line"></i></a>
    </li>
    <li>
      <a href="/">
        <i class="ri-home-2-line"></i>
      </a>
    </li>
    <li>
      <a href=""><i class="ri-file-text-line"></i></a>
    </li>
    <li>
      <a href=""><i class="ri-pie-chart-line"></i></a>
    </li>
  </ul>
</nav>
