* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

strong {
  font-weight: 600;
  background: #3b3b3b;
}

.payment h1 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: #d4af37;
  background: #3b3b3b;
}

.container {
  max-width: 94vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  margin: 15px auto;
}

.payment {
  background: #3b3b3b;
  width: 100%;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.amount {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

input[type="text"] {
    width: 40vw;
  background-color: transparent;
  border: none;
  outline: none;
  border: 1px solid gray;
  color: #fff;
  padding: 3px ;
  border-radius: 5px;
  font-size: 1rem;
}

.amount-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
}

.amount-form button {
  border: none;
  outline: none;
  background: #d4af37;
  color: #000;
  padding: 3px 5px;
  font-size: 1rem;
  border-radius: 5px;
}

.previous {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
}

.previous h2 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: #d4af37;
}

.previous table {
  width: 100%;
  border: 1px solid white;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid white;
  text-align: center;
  font-size: 16px;
  padding: 3px;
}

th {
  font-size: 20px;
  font-weight: 500;
}

.pending {
  color: yellow;
}

.rejected {
  color: red;
}

.approved {
  color: lightgreen;
}

.previous p {
  color: gray;
}