* {
  font-family: "poppins";
}

strong {
  font-weight: 500;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  max-width: 96vw;
  margin: 10px auto;
  margin-bottom: 110px;
}

.user-info h1 {
  font-size: 1.8rem;
  color: #d4af37;
  font-weight: 600;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-info p {
  font-size: 1.2rem;
  font-weight: 500;
}

.recent-orders,
.recent-payments {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.profile-container h2 {
  font-weight: 500;
  color: #d4af37;
}

.profile-container h3 {
  font-weight: 500;
}

.profile-container a {
  text-decoration: none;
  color: #d4af37;
}

.orders,
.payments {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  border-radius: 5px;
  gap: 5px;
}

.order,
.payment {
  background: #313131;
  border-radius: 10px;
  padding: 5px 10px;
}

.order .top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table table {
  width: 100%;
}

th,
td {
  text-align: center;
  font-size: 16px;
}

th {
  font-size: 20px;
  font-weight: 500;
}

.pending {
  color: yellow;
}

.rejected {
  color: red;
}

.approved {
  color: lightgreen;
}

.recent-orders p,
.recent-payments p {
  color: gray;
}
