* {
  font-family: "poppins";
}

h2 {
  text-align: center;
  margin-top: 5px;
  font-weight: 500;
  font-size: 21px;
}

main {
  margin: 20px auto;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: 15px;
}

.box {
  width: 45vw;
  height: 20vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.info h3 {
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
  color: #d4af37;
  text-align: center;
  line-height: 1;
}

.info i {
  font-size: 35px;
  color: #d4af37;
}

.details p {
  font-size: 18px;
}
