* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

h1 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

h3 {
  width: 100%;
  text-align: center;
}

strong {
  font-weight: 600;
}

select.pending {
  color: yellow;
}

select.rejected {
  color: red;
}

select.approved {
  color: lightgreen;
}

.container {
  max-width: 92vw;
  margin: 10px auto;
  margin-bottom: 110px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.orders {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.order {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 6.5px;
  background: #313131;
  border-radius: 10px;
  padding: 15px 10px;
}

.order h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

.order form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.order form select {
  background: transparent;
  padding: 2px 3px;
  border-radius: 5px;
}

.order form select option {
  background: #1c1c1c;
  font-size: 1rem;
}

.order table {
  width: 100%;
  border: 1px solid white;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid white;
  text-align: center;
  font-size: 16px;
  padding: 3px;
}

th {
  font-size: 20px;
  font-weight: 500;
}

option.pending {
  color: yellow;
}

option.rejected {
  color: red;
}

option.approved {
  color: lightgreen;
}

form#limitForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

form#limitForm select {
  background: transparent;
  padding: 2px 3px;
  border-radius: 5px;
  color: white;
}

form#limitForm select option {
  background: #1c1c1c;
  font-size: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination a {
  text-decoration: none;
  color: #fff;
  margin: 0 5px;
  padding: 12px 20px;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.pagination a:hover {
  background-color: #f0f0f0;
}
.pagination a.active {
  background-color: #d4af37;
  color: #000;
  pointer-events: none;
}
.pagination a.disabled {
  color: #ccc;
  pointer-events: none;
}
.pagination a.arrow {
  padding: 8px 10px;
}

.end-of-list {
  text-align: center;
}

.end {
  text-align: center;
  color: gray;
  margin-top: 50px;
}