* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

.container {
  max-width: 92vw;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.container h1 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: #d4af37;
}

.payments {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  border: 1px solid white;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid white;
  text-align: center;
  font-size: 17px;
  padding: 4px;
}

th {
  font-size: 20px;
  font-weight: 500;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.actions button {
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pending {
  color: yellow;
}

.rejected {
  color: red;
}

.approved {
  color: lightgreen;
}

.end {
  text-align: center;
  color: gray;
  margin-top: 50px;
}

.category-filter{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.category-filter select {
  background: transparent;
  padding: 2px 3px;
  color: white;
  border-radius: 5px;
}

.category-filter select option {
  background: #1c1c1c;
  font-size: 1rem;
}