nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav ul li a p {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  display: none;
}

img.active{
  scale: 1.2;
}

p.active{
  display: block;
  margin: 5px 0 3px 0;
}

nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 3px solid #eee;
  padding-top: 10px;
  background: #1c1c1c;
}

nav.active {
  padding: 10px 0;
}
